* {
  font-family: 'M PLUS 1p', sans-serif;
}

.navbar {
  background-color: forestgreen;
}

.navbar:after {
  content: "";
  display: block;
  clear: both;
}

.banner {
  float: left;
  width: 25%;
}

.banner a {
  padding: 5px;
  color: white;
  text-decoration: none;
  text-size: 18px;
}

.menu {
  float: left;
  width: 75%;
}

.menu li {
  float: left;
  width: auto;
}

.menu li a {
  display: block;
  padding: 5px;
  color: black;
  text-decoration: none;
  text-size: 14px;
}

.navlist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dp1, .dp2, .dp3, .dp4, .dp5 {
  display: none;
  background-color: #f9f9f9;
  position: absolute;
}

.nav1:hover .dp1, .nav2:hover .dp2, .nav3:hover .dp3, .nav4:hover .dp4, .nav5:hover .dp5 {
  display: block;
}

img {
  display: block;
  width: 1000px;
  max-width: 100%;
  height: auto;
  align: center;
  padding: 30px;
}

.train-info, .other-sevices, .sightseeing, .about-htr {
  float: left;
  width: 50%;
}

.choose-box:after {
  content: "";
  display: block;
  clear: both;
}
