* {
  font-family: 'M PLUS 1p', sans-serif;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.navbar {
  background-color: forestgreen;
  padding: 0;
  margin: 0;
}

.navbar::after {
  content: "";
  display: block;
  clear: both;
}

.banner {
  float: left;
  width: 25%;
}

.banner a {
  padding: 5px;
  color: lightblue;
  text-decoration: none;
  font-size: 18px;
}

.menu {
  float: right;
  width: 75%;
}

.menu li {
  float: left;
  width: auto;
  margin: 10px;
}

.menu li a {
  display: block;
  padding: 5px;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.navlist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown {
  display: none;
  background-color: forestgreen;
  position: absolute;
  z-index: 25;
  border-radius: 0 0 5px 5px;
}

.nav:hover .dropdown {
  display: block;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
  padding: 0px 15px;
  z-index: 10;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Position the "next button" to the right */
.next {
  right: 15px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from { opacity: 0.6; } ;
  to { opacity: 1; } ;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next { font-size: 11px; } ;
}

.delay {
  max-width: 37.5em;
  position: relative;
  margin: auto;
  padding: 0;
  z-index: 10;
  font-size: 1.5em;
}

#scrollbox {
  width: auto;
  height: 35px;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0 15px;
}

.delay-content {
  height: 35px;
  width: 82.5em;
  background-color: black;
  padding-left: 33em;
  padding-right: 28.5em;
  color: white;
}

.left-stick {
  position: absolute;
  left: 0;
  height: 35px;
  width: auto;
  background-color: red;
  z-index: 20;
  padding: 0 1em;
  margin-left: 15px;
}

.right-stick {
  position: absolute;
  right: 0;
  top: 0;
  height: 35px;
  width: auto;
  padding: 0 0.5em;
  background-color: blue;
  color: white;
  margin-right: 15px;
}

.train-info, .other-sevices, .sightseeing, .about-htr {
  float: left;
  width: 50%;
}

.choose-box: after {
  content: "";
  display: block;
  clear: both;
}
